.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7e5d8;
    font-family: 'Arial', sans-serif;
  }
  
  .form-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  
  .form-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .left-align {
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-control {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .create-account {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
  }
  
  .account-text {
    margin-bottom: 5px;
    color: #888;
    font-size: 14px;
  }
  
  .button {
    display: inline-block;
    margin-left: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .no-blue:hover {
    text-decoration: none;
  }
  
  .btn-success {
    background-color: #6abf69;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn-success:hover {
    background-color: #5da65d;
  }
  